:root {
  --l-ideal: 35vw; /* Desired left column width */
  --l-max: 400px; /* max value of left column */

  --white-color: whitesmoke; /* The shade of white used for logo, footer, and maybe background*/

  --system-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --small-info-font: 300 1rem var(--system-font);
  --button-color: rgb(213, 145, 105);
  --hero-text-color: #425066;
  --title-color: #826f79;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* Non-reset styling: */

.page-columns {
  display: flex;
  min-height: 100dvh; /* dvh better for mobile screens? */
  overflow: auto;
}

.page-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 min(var(--l-ideal), var(--l-max)); /* Fix the size of the left column */
  background: url(images/background-img.jpg) center / cover no-repeat;
}

.page-right {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background-color: var(--white-color);
  align-items: flex-start;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: var(--system-font);
}

/* Apply padding without messing up the background colors */
.page-right > div,
.form-section,
.form-submit {
  padding: 1rem 3rem;
}

.hero-text p {
  max-inline-size: 66ch; /* Increase readability */
  color: var(--hero-text-color);
}

.page-right h1 {
  color: var(--title-color);
  font-size: 1em;
  font-weight: inherit;
  margin: 0.2rem 0;
  width: 100%;
}

.form-section {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  box-shadow: 0px 10px 8px -5px #c8bfc9;
  width: 100%;
  column-gap: 3rem;
}

form input {
  font: var(--small-info-font);
}

form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.form-col {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 15ch;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 8px 0px;
}

.form-group label {
  color: grey;
  font-size: 0.6rem;
  letter-spacing: 1px;
  text-wrap: nowrap;
  text-transform: uppercase;
}

button[type="submit"] {
  padding: 0.5rem 2.5rem;
  font-size: 1rem;
  background-color: var(--button-color);
  color: var(--white-color);
  border-style: none;
  border-radius: 10px;
  box-shadow: 0px 5px 15px -7px #7c6e66;
}

.account-already {
  padding-top: 1rem;
  font: var(--small-info-font);
}

.account-already a {
  color: var(--button-color);
}

.account-already a:hover {
  color: grey;
}

@media only screen and (max-width: 600px) {
  .page-left {
    display: none;
  }
  .page-right {
    flex: 1 1 100%;
    justify-content: flex-start;
    align-items: center;
  }
  .hero-text p {
    font-size: 1rem;
  }
}

@font-face {
  font-family: "Norse";
  src: url("fonts/Norse-Bold.woff2") format("woff2"),
    url("fonts/Norse-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 5rem;
  font-family: "Norse";
  color: var(--white-color);
  background-color: rgba(0, 0, 0, 0.204);

  margin-top: 30vh;
  text-align: center;
}

.logo {
  height: 1em;
  width: auto;
  color: var(--white-color);
  margin-right: 8px;
}

footer {
  font-size: 12px;
  text-align: center;
  color: var(--white-color);
  margin-bottom: 5px;
}

footer a {
  color: inherit;
}
